In [1]:
# 데이터 프레임 만들기 위한 임포트
import pandas as pd

In [2]:
xor_input=[
    [0,0,0],
    [0,1,1],
    [1,0,1],
    [1,1,0]
]

In [5]:
xor_df = pd.DataFrame(xor_input, columns=["data","data2","label"])
xor_df

   data  data2  label
0     0      0      0
1     0      1      1
2     1      0      1
3     1      1      0

In [36]:
#X값은 무조건 2차원
X = xor_df.iloc[:,:2] #[행,열] :2 >> 0<= <2
# X = xor_df.loc[:,:"data2"] 
X

   data  data2
0     0      0
1     0      1
2     1      0
3     1      1

In [37]:
#Y = xor_df.iloc[:,2:3]
#Y값은 무조건 1차원
Y = xor_df.iloc[:,2]
Y

0    0
1    1
2    1
3    0
Name: label, dtype: int64

# KNN model

In [38]:
from sklearn.neighbors import KNeighborsClassifier #knn모델

In [39]:
model = KNeighborsClassifier(n_neighbors=1)

In [40]:
model.fit(X,Y)

KNeighborsClassifier(n_neighbors=1)

In [45]:
#pre라는 변수에 넣어서 평가할때 사용
pre=model.predict(X)

In [46]:
from sklearn.metrics import accuracy_score #채점하기 위한 임포트

In [47]:
accuracy_score(pre,Y)

1.0