In [1]:
#쓰든 안쓰든 3가지는 임포트 하세요
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#csv파일을 읽어온다
data = pd.read_csv("./data/bmi.csv")
data.head()

   height  weight   label
0     140      45  normal
1     145      72     fat
2     150      61     fat
3     137      56     fat
4     192      48    thin

In [5]:
#몇개인지, 결측치가 있는지 확인
data.shape

(20000, 3)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  20000 non-null  int64
 1   weight  20000 non-null  int64
 2   label   20000 non-null  object
dtypes: int64(2), object(1)
memory usage: 468.9+ KB

In [20]:
#train, test >> 데이터 나누기(7대3)
train = data.iloc[:14000, :] #7 14000
train.shape

(14000, 3)

In [35]:
test = data.iloc[14000:, :] #3 6000
test

       height  weight   label
14000     178      73  normal
14001     185      56    thin
14002     176      76  normal
14003     188      38    thin
14004     162      75     fat
...       ...     ...     ...
19995     157      67     fat
19996     138      40  normal
19997     163      62  normal
19998     169      68  normal
19999     183      39    thin

[6000 rows x 3 columns]

In [43]:
#이미 행을 나눠 놨기 때문에 다시 나눌 필요없다(또 나눠서 혼남..)
X_train=train.iloc[:, :2]
Y_train=train.iloc[:,2]

In [44]:
X_test=test.iloc[:,:2]
Y_test=test.iloc[:,2]

In [45]:
#숫자 같은지 확인해야 한다
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((14000, 2), (14000,), (6000, 2), (6000,))

In [46]:
from sklearn.neighbors import KNeighborsClassifier

In [47]:
model = KNeighborsClassifier(n_neighbors=5)

In [48]:
model.fit(X_train,Y_train)

KNeighborsClassifier()

In [52]:
pre=model.predict(X_test)

In [50]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy_score(pre,Y_test)

0.9946666666666667

In [55]:
#방법2 모델에 의해서 pre를 계산 후 y_test와 비교 한 후에 결과값이 나온다.
model.score(X_test, Y_test)

0.9946666666666667

In [59]:
#내 키와 몸무게를 넣을때 2차원으로 넣어줘야 한다.
model.predict([[177, 66]])

array(['normal'], dtype=object)